@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3674b5;
  --primary-text-color: white;

  --secondary-color: #6c757d;
  --secondary-text-color: black;

  --primary-shadow-color: #578fca;
}

/* transisi */
@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}
/* end of transisi */

body {
  font-family: 'quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

/* start header style */
header {
  background-color: var(--primary-color);
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 1px 4px 0;
  /* margin-bottom: 30px; */

  view-transition-name: header;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  color: var(--primary-text-color);
}

.drawer-button {
  background-color: transparent;
  display: inline-block;
  padding: 8px;
  border: 0;
  border-radius: 4px;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.skiplink {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  border: 1px solid black;
  padding: 4px 8px;
  font-family: 'quicksand', sans-serif;
  position: absolute;
  inset-inline: auto;
  font-size: 1rem;
  font-weight: 500;
  transform: translateY(-200%);
}

.skiplink:focus,
.skiplink:focus-within {
  transform: translateY(0%);
}

.skiplink:hover {
  background-color: white;
  color: var(--secondary-text-color);
}
/* end header style */

/* start navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.push-subscribe-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}
.push-subscribe-button:hover {
  opacity: 0.8;
}

.navbar-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-container li a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
}

.navbar-container li a:hover {
  text-decoration: underline;
}
/* end navbar */

/* start Footer */
footer {
  view-transition-name: footer;
}

.footer-content {
  margin-top: 30px;
  /* margin-block-start: 50px; */
  /* margin-bottom: 30px; */
}

.footer-content > hr {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
}

.footer-content > h2 {
  padding-left: 50px;
}

.social-media {
  margin: 10px;
}

.social-media > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-media > ul > li {
  list-style-type: none;
}

.social-media > ul > li > a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

.social-media > ul > li > a:hover {
  color: var(--secondary-color);
}

.footer-content > p {
  padding-left: 60px;
}
/* end footer */

/* start main */
main {
  min-height: 70vh;
  view-transition-name: main;
}

.main-content > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 30px;
}
/* end main */

/* start inputan */
a,
button {
  min-height: 44px;
  min-width: 44px;

  color: var(--secondary-text-color);
}

input,
textarea,
select {
  transition: box-shadow 150ms ease-in-out;
}

input,
textarea {
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;

  font-size: 1rem;
  font-family: 'Inter', sans-serif;

  resize: vertical;
}

input[type='radio'],
input[type='checkbox'] {
  min-height: auto;
  min-width: auto;
  width: auto;
  display: inline;

  transition: 150ms ease-in-out;
}

textarea {
  min-height: 150px;
}

select {
  display: inline-block;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 10px 20px;

  font-size: 1rem;
  line-height: 1rem;

  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text-color) !important;

  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.btn[disabled] {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

/* antar divformcontrol */
form > .form-control:not([hidden]) ~ .form-control:not([hidden]) {
  margin-block-start: 30px;
}

/* antar label dengan textarea didalam divformcontrol */
form .form-control > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 10px;
}

form .register-form-buttons,
form .login-form-buttons {
  margin-block-start: 30px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

/* end inputan */

/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader.loader-absolute::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;
  animation: rotation 1s linear infinite;
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

/* end of loader */

/* start Login register Page */
.register-container,
.login-container {
  max-width: 400px;
  height: 100%;
  margin-inline: auto; /* pengaturan kanan kiri margin */
}

.register-title,
.login-title {
  text-align: center;
  margin-block: 30px 20px; /* atas bawah margin */
}

.register-form,
.login-form {
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #d4d4d4;
}

.register-form-buttons,
.login-form-buttons {
  flex-direction: column;
  align-items: stretch;
}

.register-form-alreadyhaveaccount,
.login-form-havenoaccount {
  text-align: center;
  margin-top: 10px;
}
/* end login register page */

/* start homepage style */
.reports-list__map__container,
.reports-list__map {
  height: 400px;
  margin-top: 2px;
}

.reports-list__container {
  min-height: 400px;
}

.reports-list__map__container,
.reports-list__container {
  position: relative;
}

.reports-list__map__container {
  background-color: darkgray;
}

.section-title {
  text-align: center;
  margin-block: 10px;
}

.reports-list {
  margin-inline: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px 15px;
}

.reports-list__empty,
.reports-list__error {
  text-align: center;
}

.report-item {
  border-radius: 12px;
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  overflow: hidden;
}

.report-item__image {
  display: block;
  width: 100%;
  height: 250px;

  object-fit: cover;
  object-position: center;
}

.report-item__body {
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.report-item__main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.report-item__more-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px 16px;

  color: #5d5d5d;
}

.report-item__createdat,
.report-item__location,
.report-item__author {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}

.report-item__description {
  display: -webkit-box; /* membatasi hanya 4 baris dideskripsi */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.report-item__read-more {
  justify-self: start;
  display: inline-flex;
  gap: 5px;

  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
/* end homepage style */

/* start storiesdetail style*/
.report-detail__container,
.report-detail {
  /* position: relative; */
  min-height: 80vh;
  margin-block: 30px;
}

.report-detail__header {
  /* padding-block: 80px; */
  min-height: 600px;
  text-align: center;
}

.report-detail__more-info {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;

  font-size: 1.5rem;
  color: black;
}

.report-detail__more-info__inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.report-detail__location_place-name,
.report-detail__createdat,
.report-detail__location__latitude,
.report-detail__location__longitude,
.report-detail__author {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.report-detail__images__container {
  width: 90%;
  margin-inline: auto;
  /* position: relative; */
  /* inset-block-start: -100px; */
  scale: 1.1;
}

.report-detail__images {
  height: 300px;
}

.report-detail__image {
  width: 100%;
  height: 100%;
  background-color: #5d5d5d;
  border-radius: 20px;

  object-fit: contain;
  object-position: center;
}

.report-detail__body {
  /* margin-block: 40px; */
  margin-inline: auto;
  max-width: 800px;

  display: grid;
  grid-template-columns: 1fr;

  gap: 30px;
}

.report-detail__description__title,
.report-detail__map__title {
  margin-block-end: 12px;
  font-size: 1.5rem;
}

.report-detail__map__container,
.report-detail__map {
  height: 500px;
  position: relative;
}

.report-detail__map__container {
  background-color: darkgray;
}

.report-detail__body__actions__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* .report-detail__actions__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
} */
/* end storiesdetail style */

/* start new style */
.new-report__header {
  padding-block: 70px;
  background-color: var(--secondary-color);
  /* background-image: url('../public/images/orange-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
  text-align: center;
  color: var(--primary-text-color);
}

.new-report__header__title {
  margin-block-end: 16px;
}

/* form */
.new-form__container {
  max-width: 800px;
  margin-inline: auto;
}

.new-form {
  border: 1px solid #aaa;
  border-radius: 8px;

  padding: 30px 25px;
}

.new-form > .form-control > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 8px;
}

.new-form__description__title,
.new-form__documentations__title,
.new-form__location__title {
  display: block;

  font-weight: 500;
  font-size: 1rem;
}

.new-form__description__container > :not([hidden]) ~ :not([hidden]),
.new-form__documentations__container > :not([hidden]) ~ :not([hidden]),
.new-form__location__container > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 10px;
}

/* New Documentations */
.new-form__documentations__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-form__documentations__input {
  display: none;
}

.new-form__camera__container {
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;

  display: none;
}

.new-form__camera__container.open {
  display: block;
}

.new-form__camera__video {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.new-form__camera__canvas {
  display: none;
}

.new-form__camera__tools {
  margin-block: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px 16px;
}

.new-form__documentations__outputs {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  justify-content: center;
  gap: 16px;
}

.new-form__documentations__outputs-item__delete-btn {
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;

  cursor: pointer;
}

.new-form__documentations__outputs-item__delete-btn img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: 150ms ease-in-out;
}

.new-form__documentations__outputs-item__delete-btn:hover img {
  scale: 1.05;
}

/* New Locations */
.new-form__location__map__container,
.new-form__location__map {
  height: 400px;
  position: relative;
}

.new-form__location__map__container {
  background-color: darkgray;
}

.new-form__location__lat-lng {
  margin-block: 16px 8px;

  display: flex;
  gap: 10px;
}
/* end new style */
